{
	"trailingComma": "es5",
	"singleQuote": true,
	"useTabs": true,
	"printWidth": 80,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "always",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^config/(.*)$",
		"^pkg/(.*)$",
		"^server/(.*)$",
		"^atoms/(.*)$",
		"^views/(.*)$",
		"^assets/(.*)$",
		"^views/(.*).css$",
		"(.*).css$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
