.wrapper {
	background: hsl(var(--card-bg));
	color: hsl(var(--card-fg));
	height: 100%;
	border-radius: 1rem;
	box-shadow: var(--shadow-elevation-1);
	position: relative;
}

.header {
	padding: 1rem;
	margin-bottom: 1rem;
	display: grid;
	height: 3.5rem;
	grid-template-columns: 2.4rem 1fr 2.4rem;
	align-items: center;
	user-select: none;
	gap: 1rem;
	cursor: grab;

	&:focus {
		cursor: grabbing;
	}
}

.header var {
	font-size: 1.6rem;
	color: hsl(var(--card-fg-alt));
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.header figure {
	padding: 0.3rem;
	background-color: hsl(var(--card-bg-alt));
	border-radius: 0.5rem;
	height: 2.4rem;
	box-shadow: var(--shadow-elevation-1);

	& svg {
		width: 100%;
		height: 100%;
	}
}

.action {
	--size: 2.4rem;

	border-radius: var(--size);
	width: var(--size);
	height: var(--size);
	box-shadow:
		var(--shadow-elevation-1),
		inset 0 0 0 0.1rem hsl(var(--card-bg-alt));
	display: flex;
	place-items: center;
	place-content: center;
	position: absolute;
	cursor: pointer;
	right: 1rem;
	top: 1rem;
	z-index: 1000;

	& > i {
		display: block;
		width: 100%;
		height: 100%;
		line-height: 2.4rem;
		text-align: center;
	}
}

html[data-color-scheme='light'] .action {
	box-shadow: inset 0 0 0 0.1rem hsl(var(--card-bg-alt));
}

.main {
	padding: 1rem;
	height: calc(100% - 5rem);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.widgetSettings {
	border-top: 0.1rem solid hsl(var(--card-bg-alt));
}
