.wrapper {
	padding: 1rem;
	background: hsl(var(--card-bg));
	color: hsl(var(--card-fg));
	height: 100%;
	border-radius: 1rem;
	box-shadow: var(--shadow-elevation-1);
}

.header {
	margin-bottom: 1rem;
	display: grid;
	height: 2rem;
	grid-template-columns: 2.4rem 1fr 2.4rem;
	align-items: center;
	gap: 1rem;
}

.header var {
	font-size: 1.6rem;
	color: hsl(var(--card-fg-alt));
}

.header figure {
	padding: 0.3rem;
	background-color: hsl(var(--card-bg-alt));
	border-radius: 0.5rem;
	height: 2.4rem;
	box-shadow: var(--shadow-elevation-1);

	& svg {
		width: 100%;
		height: 100%;
	}
}

.action {
	padding: 0.3rem 0.5rem;
	border-radius: 2.4rem;
	height: 2.4rem;
	box-shadow:
		var(--shadow-elevation-1),
		inset 0 0 0 0.1rem hsl(var(--card-bg-alt));
	display: flex;
	place-items: center;
	place-content: center;

	& svg {
		width: 100%;
		height: 100%;
	}
}

html[data-color-scheme='light'] .action {
	box-shadow: inset 0 0 0 0.1rem hsl(var(--card-bg-alt));
}
