.button {
	padding: 1.2rem 1rem;
	background: hsl(var(--btn-bg));
	color: hsl(var(--btn-fg));
	font-size: 1.2rem;
	font-weight: 700;
	text-align: center;
	border-radius: 0.6rem;
	cursor: pointer;
	display: grid;
	grid-auto-flow: column;
	place-content: center;
	place-items: center;
	gap: 0.5rem;
	box-shadow: var(--shadow-elevation-1);

	&[data-direction='vertical'] {
		grid-auto-flow: row;
		gap: 1rem;
	}

	&[data-variant='secondary'] {
		background: hsl(var(--btn-alt-bg));
		color: hsl(var(--btn-alt-fg));
	}

	&[data-variant='outlined'] {
		background: none;
		color: hsl(var(--btn-alt-fg));
		box-shadow: var(--shadow-elevation-1), inset hsla(var(--btn-alt-fg) / 0.37) 0 0 0 0.1rem;
	}

	&[data-variant='outlined'][data-selected='true'] {
		box-shadow: var(--shadow-elevation-1), inset hsl(var(--btn-alt-fg)) 0 0 0 0.1rem;
	}
}



.buttonGroup {
	margin-top: 2rem;
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	gap: 2rem;
}
